:root {
    --base-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --base-letter-spacing: 0.02em;
    --color-iris: #4d5ae5;
    --color-hover: #404bbf;
    --color-secondary: #2e2f42;
    --color-cornflower: #e7e9fc;
    --color-white: #ffffff;
    --color-hover-secondary: #31d0aa;
    --base-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --letter-spacing-secondary: 0.04em;
    --color-primary: #434455;
    --color-cloud: #f4f4fd;
    --color-lite-slate: #8e8f99;
    --color-mobile-menu: #2F2F37;
    --color-background-modal: #FCFCFC;
    --indent-xxxs: 4px;
    --indent-xxs: 8px;
    --indent-xs: 16px;
    --indent-s: 20px;
    --indent-m: 24px;
    --indent-l: 28px;
    --indent-xl: 32px;
    --indent-xxl: 40px;
    --indent-xxxl: 48px;
    --indent-xxxxl: 72px;
}

body {
    color: var(--color-primary);
    font-family: var(--base-font-family);
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--base-letter-spacing);
    line-height: 1.5;
    background-color: var(--color-white);
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

p {
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    border: 1px solid #2E2F4266;
    border-radius: 4px;
    width: 264px;
    background: transparent;
    padding: var(--indent-xs);
    resize: none;
    font-size: 12px;
    line-height: 2;
    letter-spacing: var(--letter-spacing-secondary);
    color: #2E2F4266;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    height: 40px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid var(--color-iris);
}

textarea {
    line-height: 1.17;
}

.action,
button {
    background-color: var(--color-iris);
    color: var(--color-white);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-secondary);
    line-height: inherit;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    min-height: 40px;
    transition: background-color var(--base-transition);
    justify-content: center;
}

.mobile-nav-items,
.mobile-burger-trigger {
    display: none;
}

.action-order-service {
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transition: background-color var(--base-transition);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--color-white);
    letter-spacing: var(--base-letter-spacing);
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--base-letter-spacing);
    text-transform: capitalize;
    color: var(--color-secondary);
    margin-bottom: var(--indent-xxxxl);
}

.card-title {
    color: var(--color-secondary);
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    line-height: 1.2;
    letter-spacing: var(--base-letter-spacing);
    margin-bottom: var(--indent-xxs);
}

.thumbnail-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/home-people-office.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}

/* Desktop */
@media only screen and (min-resolution: 2dppx) {
    .thumbnail-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/home-people-office-2x.jpg');
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1339px){
    .thumbnail-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/home-people-office-tablet-1x.jpg');
    }
}

@media only screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1339px) {
    .thumbnail-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/home-people-office-tablet-2x.jpg');
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .thumbnail-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/home-people-office-mobile-1x.jpg');
    }
}

@media only screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .thumbnail-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/home-people-office-mobile-2x.jpg');
    }
}

.team-section {
    background-color: var(--color-cloud);
}

.team-section .cards-list-item {
    background-color: var(--color-white);
    --indent-items-count: 3;
    --items-count: 4;
    width: calc((100% - var(--indent-items-count) * var(--indent-m)) / var(--items-count));
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 #2E2F4214,
    0 1px 1px 0 #2E2F4229,
    0 1px 6px 0 #2E2F4214;
}

.team-section img,
.portfolio-section img {
    width: 100%;
    object-fit: cover;
}

.nav-item {
    color: var(--color-secondary);
    font-weight: var(--font-weight-medium);
}

.nav-item-link {
    position: relative;
}

.nav-item.active .nav-item-link {
    color: var(--color-hover);
}

.nav-item.active .nav-item-link:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--color-hover);
    position: absolute;
    top: calc(100% - 2px);
    border-radius: 2px;
    left: 0;
    bottom: -1px;
}

.footer {
    background-color: var(--color-secondary);
}

.footer {
    padding: 100px 0;
}

.header-logo,
.footer-logo {
    color: var(--color-iris);
    font-family: var(--secondary-font-family);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    line-height: 1.17;
}

.footer-logo span,
.footer .footer-text {
    color: var(--color-cloud);
}

.header-logo span {
    color: var(--color-secondary);
}

.header-logo {
    margin-right: 76px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: var(--indent-xs);
}

.footer-text {
    max-width: 264px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
}

.nav-items {
    display: flex;
    gap: var(--indent-xxl);
}

.nav-items a,
.contacts-address-list a {
    display: block;
    padding: var(--indent-m) 0;
    transition: color var(--base-transition);
}

.nav-items .nav-item,
.contacts-address-list .contacts-address-list-item {
    transition: color var(--base-transition);
}

.header {
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.header .navigation {
    display: flex;
    align-items: center;
}

.contacts-address-list {
    display: flex;
    gap: var(--indent-xxl);
}

.thumbnail-section {
    padding: 188px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumbnail-section .page-title {
    max-width: 496px;
    margin-bottom: var(--indent-xxxl);
}

.advantages-list,
.cards-list {
    display: flex;
    gap: var(--indent-m);
    justify-content: space-between;
}

.advantages-list-item {
    --indent-items-count: 3;
    --items-count: 4;
    width: calc((100% - var(--indent-items-count) * var(--indent-m)) / var(--items-count));
}

.team-section .card-title,
.team-section .card-content {
    text-align: center;
}

.team-section .card-content {
    margin-bottom: var(--indent-xxs);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--indent-xxxl) var(--indent-m);
}

.card-content-container {
    padding: var(--indent-xl) 0;
}

.portfolio-content {
    padding: var(--indent-xl) var(--indent-xs);
    border: 1px solid var(--color-cornflower);
    border-top: none;
    background-color: var(--color-white);
    position: relative;
    z-index: 1;
}

.portfolio-list-item {
    --indent-items-count: 2;
    --items-count: 3;
    width: calc((100% - var(--indent-items-count) * var(--indent-m)) / var(--items-count));
    transition: box-shadow var(--base-transition);
    cursor: pointer;
}

.portfolio-image-content-wrapper {
    position: relative;
    overflow: hidden;
}

.image-content-overlay {
    opacity: 0;
    position: absolute;
    inset: 0;
    background-color: var(--color-iris);
    color: var(--color-cloud);
    padding: var(--indent-xxl) var(--indent-xl);
    transform: translateY(100%);
    transition: transform var(--base-transition);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 #2E2F4214,
    0 1px 1px 0 #2E2F4229,
    0 1px 6px 0 #2E2F4214;
}

.portfolio-list-item:hover .image-content-overlay,
.portfolio-list-item:focus .image-content-overlay {
    opacity: 1;
    transform: translateY(0);
}

.card-icon {
    background-color: var(--color-cloud);
    border-radius: 4px;
    border: 1px solid var(--color-lite-slate);
    margin-bottom: var(--indent-xxs);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--indent-m) 0;
    height: 112px
}

.social-link-icon {
    fill: var(--color-cloud);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: var(--indent-m);
}

.social-link-item a {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--base-transition);
    background-color: var(--color-iris);
}

.social-link-item a:hover,
.social-link-item a:focus {
    background-color: var(--color-hover);
}


button:hover,
button:focus {
    background-color: var(--color-hover);
}

a:hover,
a:focus,
a:active {
    color: var(--color-hover);
}

.footer .footer-content-title {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
    letter-spacing: var(--base-letter-spacing);
    margin-bottom: var(--indent-xs);
    color: var(--color-white);
}

.footer .content {
    margin-right: 120px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer .socials {
    margin-right: 80px;
}

.footer .social-links {
    gap: var(--indent-xs);
}

.footer .social-link-item a {
    background-color: var(--color-iris);
}

.footer .social-link-item a:hover,
.footer .social-link-item a:focus {
    background-color: var(--color-hover-secondary);
}

.fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer .newsletter-form {
    display: flex;
    align-items: flex-end;
    gap: var(--indent-m);
}

.footer input {
    border: 1px solid var(--color-white);
    box-shadow: 0 4px 4px 0 #00000026;
    color: var(--color-white);
}

.footer input::placeholder {
    color: var(--color-white);
}

.action.subscribe {
    min-width: 165px;
}

.action.subscribe svg {
    fill: currentColor;
}

.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--base-transition),
    visibility var(--base-transition);
    z-index: -1;
}

.callback-modal {
    z-index: 101;
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: var(--color-background-modal);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    padding: var(--indent-xxxxl) var(--indent-m) var(--indent-m) var(--indent-m);
    opacity: 0;
    transform: translate(-50%, -250%);
    transition: transform var(--base-transition);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

.backdrop.is-open .callback-modal {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.callback-modal .modal-header {
    margin-bottom: var(--indent-xs);
}

.modal .close-modal {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--color-cornflower);
    width: 24px;
    height: 24px;
    min-height: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: var(--indent-m);
    cursor: pointer;
    padding: 0;
    transition: background-color var(--base-transition),
    border var(--base-transition);
    position: absolute;
    top: var(--indent-m);
    right: var(--indent-m);
}

.modal.close-modal svg {
    transition: fill var(--base-transition);
}

.modal .close-modal:hover,
.modal .close-modal:focus {
    background-color: var(--color-hover);
    border: none;
    fill: var(--color-white);
}

.callback-modal .modal-title {
    text-align: center;
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
    letter-spacing: var(--base-letter-spacing);
    margin-bottom: var(--indent-xs);
    color: var(--color-secondary);
}

.control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: var(--indent-xxs);
}

.control label {
    margin-bottom: var(--indent-xxxs);
    color: var(--color-lite-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: var(--letter-spacing-secondary);
}

.control.comment {
    margin-bottom: var(--indent-xs);
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input,
textarea {
    width: 100%;
}

.input-wrapper input {
    padding-left: 38px;
    outline: transparent;
    transition: border-color var(--base-transition);
}

.input-wrapper input:focus + svg {
    fill: var(--color-iris);
}

.input-wrapper .input-icon {
    position: absolute;
    left: var(--indent-xs);
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--base-transition);
}

.terms-and-conditions {
    flex-direction: row;
    gap: var(--indent-xxs);
    margin-top: var(--indent-xxs);
    margin-bottom: var(--indent-m);
}

.terms-and-conditions a {
    color: var(--color-iris);
    text-decoration: underline;
}

input[type="checkbox"] + label {
    cursor: pointer;
}

input[type="checkbox"] + label > span {
    display: inline-flex;
    width: var(--indent-xs);
    height: var(--indent-xs);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color var(--base-transition),
    border var(--base-transition),
    fill var(--base-transition);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: var(--indent-xxs);
}

input[type="checkbox"]:checked + label > span {
    background-color: var(--color-hover);
    border: none;
    fill: var(--color-cloud);
}

.action.callback {
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    display: block;
}

.action-icon {
    margin-left: var(--indent-xs);
}

.callback-textarea {
    height: 120px;
    padding: var(--indent-xxs) var(--indent-xs);
    transition: border-color var(--base-transition);
    outline: transparent;
}

@media only screen and (max-width: 767px) {
    .header .container {
        padding: var(--indent-xs);
    }

    .header .navigation {
        width: 100%;
        justify-content: space-between;
    }

    .header-logo {
        margin: 0;
    }

    .nav-items,
    .contacts-address-list {
        display: none;
    }

    .mobile-burger-trigger {
        display: flex;
        flex-direction: column;
        gap: var(--indent-xxxs);
    }

    .mobile-burger-trigger > span {
        width: 16px;
        height: 2px;
        background-color: var(--color-mobile-menu);
        border-radius: 2px;
        display: inline-block;
    }

    .mobile-nav-items {
        position: fixed;
        inset: 0;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        padding: var(--indent-xxxxl) var(--indent-xs) var(--indent-xl);
        transform: translateX(100%);
        transition: transform var(--base-transition);
    }

    .mobile-nav-items.is-open {
        transform: translateX(0);
    }

    .mobile-menu-bottom {
        margin-top: auto;
    }

    .mobile-nav-items-list,
    .mobile-contacts-address-list {
        display: flex;
        flex-direction: column;
    }

    .mobile-nav-items-list {
        gap: var(--indent-xxl);
    }

    .mobile-nav-item {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: var(--base-letter-spacing);
    }

    .mobile-nav-item.active .nav-item-link {
        color: var(--color-hover);
    }

    .mobile-contacts {
        margin-bottom: var(--indent-xxxl);
    }

    .mobile-contacts-address-list {
        gap: var(--indent-m);
    }

    .mobile-contacts-address-list .contacts-address-list-item {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: var(--base-letter-spacing);
    }

    .mobile-contacts-address-list .contact-email {
        color: var(--color-hover);
    }

    .mobile-nav-items .social-links {
        justify-content: space-between;
    }

    .thumbnail-section {
        padding: var(--indent-xxxxl) 0;
    }

    .thumbnail-section .page-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: var(--base-letter-spacing);
        max-width: 216px;
        margin-bottom: var(--indent-xxxxl);
    }

    .advantages-section {
        padding-inline: var(--indent-xs);
    }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .advantages-list,
    .cards-list,
    .portfolio-list {
        flex-direction: column;
        align-items: center;
        gap: var(--indent-xxxxl);
    }

    .advantages-list-item,
    .team-section .cards-list-item,
    .portfolio-list-item {
        --indent-items-count: 0;
        --items-count: 1;
    }

    .advantages-section .card-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: var(--base-letter-spacing);
        text-align: center;
    }

    .card-icon {
        display: none;
    }

    .team-section {
        padding-inline: var(--indent-l);
    }

    .portfolio-section {
        padding-inline: var(--indent-xs);
    }

    .portfolio-list {
        gap: var(--indent-xxxl);
    }

    .footer {
        padding: 96px 0;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
        gap: var(--indent-xxxxl);
    }

    .footer .footer-logo {
        display: block;
    }

    .footer .footer-logo,
    .footer-content-title {
        text-align: center;
    }

    .footer .socials {
        margin: 0;
    }

    .footer .content {
        margin: 0;
    }

    .footer .newsletter {
        padding-inline: var(--indent-xs);
    }

    .footer .subscribe-label,
    .footer .newsletter,
    .footer .subscribe-input {
        width: 100%;
    }

    .footer .newsletter-form {
        flex-direction: column;
        align-items: center;
        gap: var(--indent-xs);
    }

    .callback-modal {
        height: calc(100% - var(--indent-xs));
        padding-inline: var(--indent-xs);
        width: calc(100% - var(--indent-xl));
    }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .header-logo {
        margin-right: 120px;
    }

    .contacts-address-list {
        flex-direction: column;
        gap: 12px;
        height: 100%;
        justify-content: center;
    }

    .contacts-address-list-item a {
        padding: 0;
        font-size: 12px;
        line-height: 1.17;
    }

    .card-icon {
        display: none;
    }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .advantages-list,
    .cards-list,
    .portfolio-list {
        align-items: center;
        flex-wrap: wrap;
        row-gap: var(--indent-xxxxl);
    }

    .advantages-list-item,
    .team-section .cards-list-item,
    .portfolio-list-item {
        --indent-items-count: 1;
        --items-count: 2;
    }

    .advantages-section,
    .portfolio-section {
        padding-inline: var(--indent-xs);
    }

    .cards-list {
        max-width: 552px;
        row-gap: 64px;
        margin: 0 auto;
    }

    .footer .container {
        flex-wrap: wrap;
        margin-left: 108px;
    }

    .footer .content {
        margin-right: var(--indent-m);
    }

    .footer .newsletter {
        margin-top: var(--indent-xxxxl);
    }
}